.carousel-viewport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

.carousel-slide {
    position: relative;
    flex: 0 0 100%;
    counter-increment: item;
    list-style-type: none;
}

.carousel-slide:nth-child(even) {
}

#davx-screenshots, #evol-screenshots, #thunderbird-screenshots, #k9-screenshots, #fair-screenshots {
    overflow: hidden;
}

div.screenshot-1 {
    text-align: center;
    padding: 10pt;
}

div.screenshot-1 img {
    max-height: 580px;
    max-width: 100%;
}

.carousel ol, .carousel li {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.carousel-snapper {
    position: absolute;
    top: 0;
    left: 0;
    scroll-snap-align: center;
    vertical-align: middle;
}

.carousel:hover .carousel-snapper,
.carousel:focus-within .carousel-snapper {
    animation-name: none;
}

.carousel-navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel-navigation-list {
    display: inline-block;
}

.carousel-navigation-item {
    display: inline-block;
    width: 3ch;
}
