/* text explanation */
div.text-explanations {
    width: 70%;
    float: left;
}

div.carousel {
    position: relative;
    float: right;
    width: 30%;
}

#davx-screenshots, #evol-screenshots, #thunderbird-screenshots, #k9-screenshots, #fair-screenshots {
    height: 640px;
}
