/* Defaults */
:root {
    --color-scheme-background: white;
    --color-scheme-text-color: black;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background: #fff;
        color:  #222;
        transition: background-color 2s;
    }

    /* triads from https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
    .fg-color-1 {
        color: #465151;
    }

    .fg-color-2 {
        color: #514651;
    }

    .fg-color-3 {
        color: #515146;
    }

    .fg-color-default {
        color: #222;
    }

    /* triads from https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
    .bg-color-1 {
        background-color: #b4d0d1;
    }

    .bg-color-2 {
        background-color: #d1b4d0;
    }

    .bg-color-3 {
        background-color: #d0d1b4;
    }
    .bg-color-default {
        background-color: #fff;
    }

    /* triads from https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
    .border-color-1 {
        border-color: #b4d0d1;
    }

    .border-color-2 {
        border-color: #d1b4d0;
    }

    .border-color-3 {
        border-color: #d0d1b4;
    }

    .shadow {
        box-shadow: 0 4pt 8pt 0 rgba(0, 0, 0, .8), 0 6pt 20pt 0 rgba(0, 0, 0, .6);
    }

    pre.termshot, code {
        background-color: wheat;
        color: darkslategray;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #ddd;
        transition: background-color 2s;
    }

    /* triads from https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
    .fg-color-1 {
        color: #b4d0d1;
    }

    .fg-color-2 {
        color: #d1b4d0;
    }

    .fg-color-3 {
        color: #d0d1b4;
    }

    .fg-color-default {
        color: #ddd;
    }

    /* triads from https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
    .bg-color-1 {
        background-color: #465151;
    }

    .bg-color-2 {
        background-color: #514651;
    }

    .bg-color-3 {
        background-color: #515146;
    }
    .bg-color-default {
        background-color: #222;
    }


    /* triads from https://www.quackit.com/css/color/tools/css_color_scheme_generator.cfm */
    .border-color-1 {
        border-color: #465151;
    }

    .border-color-2 {
        border-color: #514651;
    }

    .border-color-3 {
        border-color: #515146;
    }

    .shadow {
        box-shadow: 0 4pt 8pt 0 rgba(255, 255, 255, .2), 0 6pt 20pt 0 rgba(255, 255, 255, .1);
    }

    pre.termshot, code {
        background-color: darkslategray;
        color: wheat;
    }
}
