img.screenshot-mini {
    max-width: 48%;
    margin-right: 1%;
    border-radius: 10pt;
    float: left;
}

img.screenshot-mini-center {
    max-width: 98%;
    margin: 0 1%;
    border-radius: 10px;
}

img.screenshot-square {
    max-width: 60%;
    border-radius: 10pt;
    margin: 1em 20%;
}

img.screenshot-landscape {
    max-width: 90%;
    margin: 2em 5%;
    border-radius: 10pt;
}
