/* Layout for screen common to all sizes */

.clear {
    clear:both;
    display: block;
}

header div {
    height: 2em;
    letter-spacing: 2px;
    vertical-align: middle;
}

header ul#languages ul {
    margin: 0;
    padding: 0;
}

header ul#languages li {
    margin: 0 auto;
    padding: 0 4pt;
    display: inline;
}

header ul#languages span {
    margin: 0 auto;
    display: inline;
}

header div {
    text-align: right;
}

header div span a {
    text-decoration: none;
}

header a.active {
    text-decoration: underline;
    font-weight: bold;
    opacity: 1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .5em .1em;
    font-size: 65%;
    height: 2em;
    text-align: center;
    letter-spacing: 2px;
}

footer p {
    margin: 0 1em;
    padding: 0;
}

footer p span.small {
    margin: 0 .5em;
}


/* Needed to avoid the content being hidden by the footer */
div.main-content {
    padding-bottom: 2em;
}
