/* Layout for screen common to all sizes */

/* Header styles */
header div {
    text-align: right;
}

header ul#languages ul {
    margin: 0;
    padding: 0;
}

header ul#languages li {
    margin: 0 auto;
    padding: 0 4pt;
    display: inline;
}

header ul#languages span {
    margin: 0 auto;
    display: inline;
}

header div span a {
    text-decoration: none;
}

header a.active {
    text-decoration: underline;
    font-weight: bold;
    opacity: 1;
}

/* Footer styles */

footer {
    font-size: 65%;
    text-align: center;
}

footer p {
    margin: 0 1em;
    padding: 0;
}

footer p span.small {
    margin: 0 .5em;
}


/* Needed to avoid the content being hidden by the footer */
div.main-content {
    padding-bottom: 2em;
}

.clear {
    clear:both;
    display: block;
    overflow:auto;
}
