/* Styles specific for the home page */
h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 24pt;
    letter-spacing: 1pt;
}

hgroup h1 {
    margin-bottom: 0;
}
hgroup p {
    font-size: x-smaller;
    display: block;
    font-style: italic;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3em;
}

h2 {
    text-align: center;
    letter-spacing: 1pt;
    padding-top: 2em;
}

h3 {
    border-bottom: 1pt solid;
}
