/* default root styles */

/* Default fonts */
body {
    font-family: "Garamond", serif;
}

h1 {
    text-align: center;
}

/* links */
a {
    opacity: 0.8;
    color: inherit;
}
a:hover {
    opacity: 1;
    border: none;
}
a.no-decoration {
    border: none;
}

header {
    border-bottom: 1px solid #7775;
}

/* Details */
details summary {
    font-size: smaller;
}

details summary:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Samples */
samp {
    font-family: monospace;
    border: 1px dotted;
    word-break: keep-all;
}
samp.chars {
    font-family: monospace;
    border: 1px dotted;
    letter-spacing: 1pt;
}


pre {
    border: 1pt solid #7775;
    border-radius: 4pt;
    padding: 4pt;
    max-width: 90%;
    margin: 1em 5%;
    overflow-wrap: normal;
    white-space: preserve;
    background-color: #7772;
}


pre code {
    white-space: pre-line;
    overflow: auto;
    text-overflow: ellipsis;
}
