/* Styles */
h1 {
    font-size: 16pt;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 12pt;
}

p,li {
    font-size: 11pt;
}

div#pros {
    width: 48%;
    margin-right: 1%;
    float: left;
}

div#cons {
    width: 48%;
    margin-left: 1%;
    float: left;
}


pre {
    border: 1pt solid;
    padding: 4pt;
    max-width: 90%;
    margin: 1em 5%;
    white-space: pre-line;
}
