/* fonts */
.job-title {
    margin-top:0;
    text-align:right;
    font-style:italic;
    font-size: 100%;
    padding-top:0;
}

h3 {
    margin-bottom: 0;
}
header p.subsubtitle {
    margin-top: 0;
}
div#knowledge {
    border-top: 2px solid #eee;
}

div.category h3 {
    text-align: center;
    clear:both;
    border-bottom: 1px solid;
}

div.category li, div.category ul {
    list-style-type:none;
    padding: 0;
    text-indent: 0;
}

div.category li.master {
    font-size:15pt;
}
div.category li.confirmed {
    font-size:13pt;
}
div.category li.user {
}
div.job h2, div#knowledge h2 {
    border-bottom: 3pt solid;
}

div.task h2 {
    border-bottom: 2pt solid;
}
/* Used for data */
.hidden {
    display:none;
}

/* Do not display the full version by default */
div.full-version {
    display: none;
}

/* list style */
li {
    list-style-type: circle;
}
