/* fonts */
h1 {
    font-size: 15pt;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 11pt;
}

p,li {
    font-size: 10pt;
}

pre {
    border: 1pt solid;
    padding: 4pt;
    max-width: 80%;
    margin: 1em 10%;
    white-space: pre-line;
}
