/* fonts */
* {
    font-family: serif;
    color: black !important;
}

div {
    page-break-inside: avoid;
}

h1 {
    font-size: 14pt;
}

h2 {
    font-size: 12pt;
}

h3 {
    font-size: 11pt;
}

p,li {
    font-size: 9pt;
}

div.job {
    clear:both;
}

div.job h2 {
    border-bottom: 2pt solid #999;
}

div.task h3 {
    border-bottom: 1px solid #bbb;
}

/* links */
a {
    color: black;
    text-decoration: none;
    border: none;
}

/* first page */
img#photo {
    border: 4pt solid #ddd;
    border-radius: 0%;
    box-shadow: none;
    filter: grayscale(100%);
}

div#qrcode img {
    max-width: 100pt;
    border-radius: 0%;
    box-shadow: none;
    border: 4pt solid #ddd;
    margin: 4pt;
}

div#contact {
}

.print-link {
    text-decoration: none;
}

.screen-only {
    display:none;
}

/* Print specific rules */
abbr::after {
    content:" (" attr(title) ")";
    text-decoration: none;
    border: none;
}
div.job a::after {
    content:" (" attr(href) ")";
    text-decoration: none;
    border: none;
}
